{% extends "layout.html" %}

{% block title %}
Crea o unete a un canal
{% endblock %}

{% block content %}
    <div class="text-center">
        <h2>Flack Chat</h2>
        <h3>Welcome to Flack {{session['username']}}!</h3>

     <h4 class="mb-5">Crea un nuevo canal</h4>

    <form action="/create" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="channel" id="channel" autofocus>
        </div>
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
  

{% endblock %}
