<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=nav, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body class="container text-center">
    <h2>chat flack</h2>
    <form class="form-signin" action="{{url_for('chat')}}" method="post">
        <div class="form-group">
            <small id="emailHelp" class="form-text text-muted">Not use a real name</small>
            <input type="text" class="form-control" id="username" name="username"  placeholder="Type here your username" autocomplete="off" required>
            <input type="text" id="channel" class="form-control mt-3" name="channel" placeholder="input channel"  required ><br>
        </div>
        <button type="submit" class="btn btn-primary" value="submit">comienza a chatear</button>
    </form>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.js"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>
