
{% extends "layout.html" %}

{% block title %}
login
{% endblock %}

{% block content %}

    <h2>Inicia sesión</h2>
    <form class="form-signin" method="POST">
        <div class="form-group">
            <input type="text" class="form-control username" id="username" name="username"
                placeholder="Type here your username" autocomplete="off" required>
        </div>
        <input type="submit" class="btn btn-primary" value="comienza a chatear">
    </form>
    
    
{% endblock %}

